@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,500;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@500&family=Sansita+Swashed:wght@800&display=swap');
@import "china.css";
@import "sweden.css";

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Exo", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

body {
	background: rgb(2,0,36);
background: linear-gradient(321deg, rgba(2,0,36,1) 0%, rgba(95,174,194,1) 0%, rgba(236,252,255,1) 100%);
}

body, header, h1 {
	margin: 0;
	padding: 25px;
}

header {
	display: flex;
	justify-content: space-between;
}

h1 {
	font-family: "David Libre";
	font-size: 64px;
	letter-spacing: 3px;
}

.island {
	padding-top: 25px;
	text-align: center;
}

h2, h3, h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.CountryName {
	text-align: center;
}

.left__header__image {
	display: flex;
	justify-content: flex-start;
	
}

.plane {
	width: 150px;
	height: auto;
}

.plane2 {
	max-width: 150px;
	height: auto;
}

nav {
display: flex;
justify-content: center;
}

.van__banner__image {
	display: flex;
	justify-content: center;
	padding: 3em
}

a {
	background-color: white;
	box-shadow: blue;
	color: black;
	padding: 1em 1.5em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	border: 5px solid black;
}

a:hover {
	background-color: lightblue;
}

a:active {
box-shadow: none;
top: 5px
}


.vanuatu__list {
	display: flex;
	justify-content: space-around;
	padding: 2em;

}


.box {
margin-bottom: 400px;
}

.footer {
	display: flex;
	flex-shrink: 0;
	padding: 20px;
}
