@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,500;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@500&family=Sansita+Swashed:wght@800&display=swap');
@import "./vanuatu.css";
/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Exo", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1 {
	font-family: "David Libre";
	font-size: 64px;
	letter-spacing: 3px;
}

h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

header {
	display: flex;
	justify-content: space-between;
}

.left__header__image {
	display: flex;
	justify-content: flex-start;
	
}

.right__header__image {
	display: flex;
	justify-content: flex-end;
	transform: scaleX(-1);
}

.plane {
<<<<<<< HEAD
	size: 2%
=======
	width: 150px;
	height: auto;
}

.plane2 {
	max-width: 150px;
	height: auto;
}

nav {
display: flex;
justify-content: center;
}

.van__banner__image {
	display: flex;
	justify-content: center;
	padding: 3em
}

a {
	background-color: white;
	box-shadow: blue;
	color: black;
	padding: 1em 1.5em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	border: 5px solid black;
}

a:hover {
	background-color: lightblue;
}

a:active {
box-shadow: none;
top: 5px
>>>>>>> master
}

.china__sites {
	display: flex;
	justify-content: space-around;
	padding: 2em;

}

.floating__mts {
	width: 60%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

<<<<<<< HEAD
=======
.vanuatu {
    background-image: url("van-background.jpg");
    /* background-color: tomato; */
}
>>>>>>> master
