.pic {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 3em;
}

.sweden__cites {
	display: flex;
	justify-content: space-around;
	padding: 2em;
}

.countryName {
    text-align: center;
}

.sweden__sites {
    /* border-style: double;
    border-color: goldenrod; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.box {
     border: 2px solid black;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px black ;
    padding: 1em;
}

.title {
    text-decoration: underline;
    
}



