 .vanuatu__list {
     display: flex;
     justify-content: space-around;
     padding: 2em;
 }

 /* change in html to correct? BEM */
 .van__bannerImage {
     display: flex;
     justify-content: center;
     padding: 3em;
 }

 /* change to left__headerImage */