 .vanuatu__list {
     display: flex;
     justify-content: space-around;
     padding: 2em;
 }

 .van__bannerImage {
     display: flex;
     justify-content: center;
     padding: 2em;
 }

 .beach__img {
    border-radius: 8px;
 }

#vanuatuContainer {
    border: 2px solid black;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px black;
    padding: 1em;
}